ccxt==4.5.36
numpy==2.4.2
optuna==4.7.0
pandas==2.3.3
plotly==6.5.2
pyarrow==23.0.0
pydantic==2.12.5
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
streamlit==1.54.0
tqdm==4.67.3
